.coverAndReadStatus {
  float: left;
  width: 200px;
}

.coverAndReadStatus > img {
  width: 100%;
  height: 100%;
}

.textDetails {
  float: left;
  width: 360px;
  margin-left: 40px;
}

.textDetails h2 {
  margin-top: 0;
  padding-top: 0;
}

.bookDetailAuthor {
  word-wrap: break-word;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
}

.bookDetailTitle {
  color: #333333;
  font-family: "Merriweather", "Georgia", serif;
  line-height: 26px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
}

.BookDetailBlurb {
  word-wrap: break-word;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
  margin-top: 15px;
}
