/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header, body, form, label, input,
 button, p, h1, header, nav, a, button, ul, li{
   padding: 0;
   border: 0;
   margin: 0;
   background: inherit;
   font: inherit;
   font-family: sans-serif;
 }

 body {
   background: image-url('splash-background.jpg');
 }

 a:hover {
   cursor: pointer;
 }

 ul {
   list-style: none;
 }

/*clearfix*/
 .group {
   /*clear: both;
   content: "";
   display: block;*/
   overflow: auto;
 }
