/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header, body, form, label, input,
 button, p, h1, header, nav, a, button, ul, li{
   padding: 0;
   border: 0;
   margin: 0;
   background: inherit;
   font: inherit;
   font-family: sans-serif;
 }

 body {
   background: image-url('splash-background.jpg');
 }

/*clearfix*/
 .group {
   /*clear: both;
   content: "";
   display: block;*/
   overflow: auto;
 }

/*Header*/
  .header {
    display: block;
    width: 100%;
    background: image-url('splash-background.jpg');
  }

   .header-logo a {
     float: left;
     font-family: helvetica;
     font-size: 30px;
     padding: 5px 15px;
     color: #382110;
   }

   .header-nav {
     display: block;
     width: 100%;
   }

   .login {
     float: right;
     margin: 10px 15px;
     font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
     font-size: 13px;
   }

   .header-logo .good {
     font-weight: 100;
     font-family: 'Raleway', sans-serif;
   }

   .header-logo .books {
     font-weight: 500;
   }

   .header-logo > a {
     padding: 5px 15px;
     text-decoration: none;

   }

   .header-button {
     float: right;
     margin: 12px 16px 0 0;
     font-family: "Lato", "Helvetica Neue", "Helvetica";
     font-size: 12px;
   }

   .header-button  button {
     padding: 8px 12px;
     background: #382110;
     color: #fff;
     border-radius: 3px;
     margin-left: 10px;
     font-size: 13px;
   }

   .header-button  button:hover {
     cursor: pointer;
     background: #58371F;
   }
