/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header, body, form, label, input,
 button, p, h1, header, nav, a, button, ul, li{
   padding: 0;
   border: 0;
   margin: 0;

   background: inherit;
   font: inherit;
   font-family: sans-serif;
 }

/*clearfix*/
 .group {
   /*clear: both;
   content: "";
   display: block;*/
   overflow: auto;
 }

/*Header*/
  .header {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    background: image-url('/images/backgrounds/splash-background.jpg');
  }

   .header-logo a {
     float: left;
     font-family: helvetica;
     font-size: 20px;
     padding: 5px 15px;
     color: #382110;
   }

   .header-nav {
     display: block;
     width: 100%;
   }

   .login {
     float: right;
     margin: 10px 15px;
     font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
     font-size: 13px;
   }

   .header-logo .good {
     font-weight: 100;
     font-family: 'Raleway', sans-serif;
   }

   .header-logo .books {
     font-weight: 500;
   }

   .header-logo > a {
     padding: 5px 15px;
     text-decoration: none;

   }

   .header-button {
     float: right;
     margin: 10px 15px;
     font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
     font-size: 10px;
   }

   .header-button  button {
     padding: 5px 15px;
     background: #382110;
     color: #fff;
     border-radius: 3px;
     margin-left: 10px;
   }

   .header-button  button:hover {
     cursor: pointer;
     background: #58371F;
   }


/*Auth Form*/

 .authForm {
   border: solid 1px #d0d0c8;
   background-color: #fff;
   box-shadow: 0px 1px 1px #d0d0c8;
  padding: 28px 10px 34px 10px;
  width: 620px;
  margin: 0 auto;
  text-align: center;

 }

  .authFormFields {
    width: 350px;
    margin: 0 auto;
  }

/*Splash*/

  .authForm label {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    color: #333;
    font-weight: bold;
    width: 100%;
    display: block;
    font-weight: normal;
    font-size: 10px;
  }

  .authForm input {
    font-weight: normal;
    font-size: 10px;
    display: block;
    width: 150px;
    padding: 5px 0;
    border: 1px solid darkgrey;
    border-radius: 3px;
  }

  .authForm button {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    font-weight: bold;
    color: #333;
    background-color: #F4F1EA;
    border-radius: 3px;
    padding: 10px;
    font-size: 10px;
    display: inline-block;
    border: 1px solid darkgrey;
    margin: 10px 10px 10px 0;
  }


  /*footer*/

  .splash-footer {
    background: image-url('images/backgrounds/footer-background.jpg')
  }
