.booksIndex{
  width: 900px;
  background: #fff;
}

.booksIndexHeader {
  margin-top: 5px;
  border-bottom: solid 2px #F4F4EA;
}

.booksIndexHeader > li {
  float: left;
  padding: 12px 5px 5px 0;
  color:  #382110;
  font-size: 11px;
  font-weight: bold;
}

.bookIndexItem {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(238, 238, 238);
  height: 100px;
}

.bookIndexItem > li {
  float: left;
  padding: 12px 5px 5px 0;
  overflow-wrap: break-word;
}

.bookIndexItem > li > a {
  color: rgb(0, 99, 93);
  font-size: 14px;
  line-height: 18px;
}

.cover-col-header {
  width: 51px;
}

.cover-col {
  width: 51px;
}

.cover-col > a {
  width: 50px;
  height: 80px;
}

.cover-col > a > img {
  width: 100%;
  height: 100%;
}

.title-col {
  width: 71px;
}

.author-col {
  float: left;
  margin-right: 15px;
}

li.shelves-col {
  width: 200px;
  overflow: display;
}

li.shelves-col button {
  margin-bottom: 10px;
}

li.read-status-col button {
  margin-top: 38px;
}
