.booksIndexHeader > li {
  float: left;
  padding: 12px 5px 5px 0;
  color:  #382110;
  font-size: 11px;
  font-weight: bold;
}

.booksIndexHeader {
  border-bottom: solid 2px #F4F4EA;
}

.booksIndex{
  width: 900px;
  margin-top: 40px;
  background: #fff;
}

.bookIndexItem > li {
  float: left;
  padding: 12px 5px 5px 0;
  overflow-wrap: break-word;
}

.cover-image-col {
  width: 250px;
}

.title-col {
  width: 71px;
}

.author-col {
  float: left;
}
