.checkBoxDiv {
  margin: 2px 0;
}

.checkBoxDiv input {
  float: left;
}

.checkBoxDiv label {
  float: left;
  width: 150px;
  padding-left: 5px;
  font-size: 12px;
}

.checkBoxDiv input:hover {
  background: #e1e1e5;
}

.checkBoxDiv label:hover {
  background: #e1e1e5;
}

.UpdateShelvesForm button {
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #D6D0C4;
  border-radius: 3px;
  background-color: #F4F1EA;
  color: #333333;
  display: inline-block;
  padding: 4px;
  font-size: 12px;
  margin-top: 5px;
}

.createReviewForm {
  border-bottom: solid 1px #EBE8D5;
  padding-bottom: 10px;

}

.createReviewForm button {
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #D6D0C4;
  border-radius: 3px;
  background-color: #F4F1EA;
  color: #333333;
  display: inline-block;
  padding: 4px;
  font-size: 12px;
  margin-top: 5px;
}

.createReviewForm button:hover {
  background: image-url('splash-background.jpg');
}

.createReviewTitle > * {
  float: left;
  margin-right: 10px;
}

.createReviewForm input {
  border: 1px solid #D6D0C4;
  border-radius: 3px;
  padding: 2px;
  font-size: 11px;
}

#CreateReivewTextArea {
  width: 500px;
  height: 200px;

}

.UpdateShelvesForm button:hover {
  background: image-url('splash-background.jpg');
}

form.readStatusForm {
  float: left;
  width: 100px;
  margin: 0;
}

form.UpdateShelvesForm {
  float: left;
  width: 200px;
  margin: 0;
}


.readStatusForm button {
 line-height: 1;
 cursor: pointer;
 text-decoration: none;
 border: 1px solid #D6D0C4;
 border-radius: 3px;
 background-color: #F4F1EA;
 color: #333333;
 display: inline-block;
 padding: 4px;
 font-size: 12px;
 margin-top: 5px;
}

.readStatusForm button:hover {
  background: image-url('splash-background.jpg');
}
