
/*Header*/
  .header {
    display: block;
    width: 100%;
    background: image-url('splash-background.jpg');
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    // position: fixed;
    height: 50px;
    max-height: 50px;
  }

  .headerSpacer {
    height: 300px;
    width: 100%;
    display: block;
  }

   .header-logo a {
     float: left;
     font-family: helvetica;
     font-size: 30px;
     padding: 5px 15px;
     color: #382110;
     margin-top: 7px;
   }

   .header-nav {
     display: block;
     width: 100%;
   }

  .browse {
    float: left;
    padding: 0 5px 0 10px;
  }

  .browse:hover{
    cursor: pointer;
    background: #58371F;
  }

  .browse a {
    font-family: helvetica;
    font-size: 16px;
    padding: 0px 15px 2px 15px;
    color: #382110;
    margin-top: 7px;
    text-decoration: none;
    line-height: 50px;
  }

  .browse:hover a {
    color: #fff;
  }

  .myBooksHeader {
    float: left;
    margin-left: 20px;
    padding: 0 5px;
  }

  .myBooksHeader:hover{
    cursor: pointer;
    background: #58371F;
  }

  .myBooksHeader a {
    font-family: helvetica;
    font-size: 16px;
    padding: 0px 15px 2px 15px;
    color: #382110;
    margin-top: 7px;
    text-decoration: none;
    line-height: 50px;
  }

  .myBooksHeader:hover a {
    color: #fff;
  }

   .login {
     float: right;
     margin: 10px 15px;
     font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
     font-size: 13px;
   }

   .header-logo .good {
     font-weight: 100;
     font-family: 'Raleway', sans-serif;
   }

   .header-logo .books {
     font-weight: 500;
   }

   .header-logo > a {
     padding: 5px 15px;
     text-decoration: none;

   }

   .header-button {
     float: right;
     margin: 12px 16px 0 0;
     font-family: "Lato", "Helvetica Neue", "Helvetica";
     font-size: 12px;
   }

   .header-button a {
     text-decoration: none;
     float:left
   }

   .topRightText {
     margin-top: 9px;
     float: left;
   }

   .header-button button {
     padding: 8px 12px;
     background: #382110;
     color: #fff;
     border-radius: 3px;
     margin-left: 10px;
     font-size: 13px;
   }

   .header-button button:hover {
     cursor: pointer;
     background: #58371F;
   }

   .header-icon {
     float: right;
     margin: 0 6px 0 0;
     font-family: "Lato", "Helvetica Neue", "Helvetica";
     font-size: 12px;
   }

   .header-icon button {
     padding: 8px 12px;
     color: #fff;
     margin-left: 10px;
     font-size: 13px;
   }

   .header-icon button:hover {
     cursor: pointer;
     background: #58371F;
   }

   .loggedInHeader-icon {
     float: right;
     margin: 0 6px 0 0;
     font-family: "Lato", "Helvetica Neue", "Helvetica";
     font-size: 12px;
     padding-bottom: 1px;
     height: 59px;
   }

   .loggedInHeader-icon img {
     padding: 8px 12px;
     margin-left: 10px;
     padding-bottom: 1px;
   }

   .loggedInHeader-icon:hover {
      background: #382110;
   }

  .loggedInHeader-icon:hover .dropDown{
    display: block;
    overflow: visible;
    background: #fff;
  }

  // this stopped working when dropdown was positioned absolutely
  .loggedInHeader-icon:hover .dropDown a{
    padding: 3px 4px;
    width: 240px;
  }

// this stopped working when dropdown was positioned absolutely
  .drowDown a:hover {
    text-decoration: underline;
  }

  .dropDown {
    display: none;
    position: absolute;
      top: 60px;
  }

  .userIcon {
    padding-top: 20px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
