/*Auth Form*/

  .authContainer{
  min-height: 550px;
  }

 .authForm {
  border-radius: 4px;
  border: solid 1px #d0d0c8;
  background-color: #fff;
  box-shadow: 0px 1px 1px #d0d0c8;
  padding: 28px 10px 34px 10px;
  width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 550px;
 }

  .authFormFields {
    width: 350px;
  }

/*Splash*/

  .authForm .fieldparagraph {
    margin: auto 0;
  }

  .authForm label {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-weight: bold;
    // width: 350px;
    display: block;
    font-size: 12px;
    padding-left: 70px;
    margin-top: 15px;
  }

  .authForm input {
    font-weight: bold;
    font-size: 12px;
    display: block;
    width: 300px;
    padding: 10px 4px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    margin: 0 auto;
  }


  .authForm button {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333;
    background-color: #F4F1EA;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 8px;
    margin: 5px;
    border: 1px solid darkgrey;
    float: left;
  }

  .authForm button:hover {
    background: image-url('splash-background.jpg');
  }

  .authForm .buttonContainer {
    width: 360px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .buttonContainer > button {
    margin-left: 30px;
    font-size: 14px;
  }

   .errorsList {
    list-style: none;
    background-color: #fff7c9;
    font-size: 12px;
    margin: 0 auto;
    width: 400px;
  }

  .errorMessage {
    font-weight: normal;
    font-size: 12px;
    margin: 3px 0;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial;
    color: #333;
    display: block;
    padding: 2px 0;

  }


  /*footer*/

  .splash-footer {
    background: image-url('footer-background.jpg');
    height: 60px;
    text-align: center;
    color: #666;
    font-size: 10px;
  }
