.shelfDetail {
  width: 600px;
  background: #fff;
}

.shelfDetailHeader {
  border-bottom: solid 2px #F4F4EA;
  margin-top: 5px;
}

.shelfDetailHeader > li {
  float: left;
  padding: 12px 5px 5px 0;
  color: #382110;
  font-size: 11px;
  font-weight: bold;
}

.shelfDetailItem {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.shelfDetailItem > li {
  float: left;
  padding: 12px 5px 5px 0;
  overflow-wrap: break-word;

}

.shelfDetailItem > li > a {
  color: rgb(0, 99, 93);
  font-size: 14px;
  line-height: 18px;
}

.cover-col {
  width: 51px;
}

.cover-col-header {
  width: 51px;
}

li.title-col {
  width: 182px;
  margin-left: 10px;
}

.author-col {
  width: 71px;
}

.avg-rating-col {
  width: 45px;
}

.rating-col {
  width: 45px;
}

.shelves-col {
  width: 78px;
}
