// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userHome {
  min-height: 900px;
  // background: rgba(244,241,234,0.5);
  background: #fff;
}

.userMain {
  margin: 0 auto;
  margin-top: 2px;
  width: 1000px;
}

.userHomeAside {
  float: left;
  width: 200px;

}

.userHomeContent {
  float: left;
  padding-left: 20px;
  width: 600px;
  border-left: 1px solid #EBE8D5;
}

.userMainNav {
  border-bottom: 1px solid #EBE8D5;
  width: 760px;
  margin-bottom: 20px;
}

.userMainNav a {
  color: #00635d;
  padding: 20px 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-weight: bold;
}
