// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userHome {
  min-height: 900px;
  // background: rgba(244,241,234,0.5);
  background: #fff;
}

.userMain {
  margin: 0 auto;
  margin-top: 2px;
  width: 900px;
}

.userHomeAside {
  float: left;
  // margin-right: 40px;
  width: 200px;
}

.userHomeContent {
  float: left;
  // margin-left: 40px;
  width: 440px;
}
